html {
    font-size: 100%;
    box-sizing: border-box;
} 

*, *::before, *::after {
    box-sizing: inherit;
    
}

body {
    background-image: url(/imgs/brown\ paper.avif);
    margin: 0px;
    background-size:cover;
    background-repeat: no-repeat;
    padding: 0px;
    font-family: 'Inlander', sans-serif;
    font-size: $font-med;
    line-height: 1.3;

    @include breakpoint-up(large){
       font-size: $font-med;
    }

    &.noscroll {
        overflow: hidden;
    }  
}

h1, h2 , h3 {
    margin-top: 0px;
}

.container {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-width: 69.375rem;
    margin: 0 auto;
}
.flex {
    display: flex;

    &-jc-sa {
        justify-content: space-around;
    };

    &-jc-c { 
        justify-content: center;
    };
    &-ac-c {
        align-content: center;
    };
}

//header

.header {
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 6.25rem;

    h1 {
        font-size: 3.25rem;
    }

}
//btns

.buttons {
    button {
        border-radius: 50%;
        border: 0.06rem solid tan;
        width: 8.75rem;
        height: 8.55rem;
        
    }
    
    .rock {
        background-image: url(/imgs/rock.webp);
        background-size: contain;
        font-family:'Inlander', sans-serif;
    }
    
    .paper {
        background-image: url(/imgs/paper.jpg);
        background-size: contain;
        font-family:'Inlander', sans-serif;
    }

    .scissors {
        background-image: url(/imgs/scissors.jpg);
        background-size: contain;
        font-family:'Inlander', sans-serif;
    }

    
}