//scoreboard
.scoreboard {

    &__display {
        
        div {
            flex-direction: column;

        }
        p {
            align-self: center;

        }
        img {
            width: auto;
            height: 20rem;
            align-self: end;
        }
    }
}